@charset "Shift_JIS";

/* link */

a:link{
	color: #0068b7;
	text-decoration: none;
}
a:visited{
	color: #005da3;
	text-decoration: none;
}

a:hover{
	color: #0068b7;
	text-decoration: underline;
}

a:active{
	color: #005da3;
	text-decoration: none;
}


/* clearfix */

.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   height: 0;
   visibility: hidden;
}
.clearfix { display: inline-block; }
/* exlude MacIE5 \*/
* html .clearfix { height: 1% }
.clearfix {display:block;}
/* end MacIE5 */

/* ul-SiteMap_imp */
.Paragraph-ul:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    margin-left: 20px;
    visibility: hidden;
}
.Paragraph-ul {
    display: inline-block;
    margin-left: 20px;
}
.Delivery-li {
    width: 100px;
    margin-bottom: 5px;
    padding-left: 10px;
    background: url(../img/arrow_s.gif) no-repeat left center;     
}
/* common */

body{
	font-size: 75%;
	line-height: 180%;
	text-align: center;
	background: #e4e3e1 url(../img/img_bg_header.gif) repeat-x left top;
}
#Wrapper{
	width: 760px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}
#Container{
	width: 760px;
	text-align: center;
	background: #FFFFFF;
} 
#Container #FrmTop{
	height: 20px;
	width: 760px;
	display: block;
	background: url(../img/frm_c_top.gif) no-repeat left top;
}
#Container #FrmBottom{
	clear: both;
	height: 20px;
	width: 760px;
	display: block;
	background: url(../img/frm_c_bottom.gif) no-repeat left bottom;
}

/* ▽k-marutani Add::2021.03.24  K-marutani-確認完了-*/
/*
弧四角
#Container #FrmTopと#Container #FrmBottomの代わり
#Container #FrmTopと#Container #FrmBottomが必要なくなります。Circle class name change
使用するときはアンダーバーを消してください。(Base.htmlも)circle round
*/
#ArcSquare{
	display:flex;/*要素を横並び*/
	flex-wrap: wrap;/*折り返す*/
	width: 760px;
	text-align: center;
	background: #FFFFFF;
	border-radius:7px;/*角丸 k-marutani Add::2021.03.23*/
	padding-top: 20px;/*#Container #FrmTopの代わり*/
	padding-bottom: 20px;/*#Container #FrmBottomの代わり*/
}
/* △k-marutani Add::2021.03.24  K-marutani-確認完了-*/


#Contents{
	width: 720px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}
/* T.Imanishi Add::2020.11.11 */
#WordBoxMain {
	width: 760px;
	text-align: center;
	background: #FFFFFF;
	border-radius:	15px 10px 10px 15px;
}

/* T.Imanishi Add::2020.11.11 */

/* header */

#Header{
	height: 75px;
	width: 760px;
}
#Header h1{
	float: left;
	margin-top: 23px;
}

/* utilitymenu */

#UtilityMenu{
	float: right;
	height: 11px;
	width: 132px;
	margin-top: 37px;
}
#UtilityMenu li{
	float: left;
	margin-left: 10px;
}
#UtilityMenu a:hover{
	text-indent: -9999px;
}
#UtilityMenu li#U-sitemap a{
	height: 11px;
	width: 59px;
	display: block;
	background: url(../img/btn_sitemap_o.gif);
}
#UtilityMenu li#U-english a{
	height: 11px;
	width: 43px;
	display: block;
	background: url(../img/btn_english_o.gif);
}


/* globalNavigation */

#GlobalNavigation{
	clear: both;
	height: 50px;
	width: 760px;
	margin-bottom: 10px;
}
#GlobalNavigation li{
	float: left;
	height: 50px;
	width: 190px;
}
#GlobalNavigation a{
	height: 50px;
	width: 190px;
	display: block;
}
#GlobalNavigation a:hover{
	text-indent: -9999px;
}
#GlobalNavigation li#G-product a{
	background: url(../img/gnv_product_o.gif);
}
#GlobalNavigation li#G-company a{
	background: url(../img/gnv_company_o.gif);
}
#GlobalNavigation li#G-recruit a{
	background: url(../img/gnv_recruit_o.gif);
}
#GlobalNavigation li#G-contact a{
	background: url(../img/gnv_contact_o.gif);
}


/* navigation Mount */

#Product #GlobalNavigation li#G-product a{
	text-indent: -9999px;
	background: url(../img/gnv_product_o.gif);
}
#Company #GlobalNavigation li#G-company a{
	text-indent: -9999px;
	background: url(../img/gnv_company_o.gif);
}
#Recruit #GlobalNavigation li#G-recruit a{
	text-indent: -9999px;
	background: url(../img/gnv_recruit_o.gif);
}
#Contact #GlobalNavigation li#G-contact a{
	text-indent: -9999px;
	background: url(../img/gnv_contact_o.gif);
}


/* topic path */

#TopicPath{
	clear: both;
	width: 720px;
	margin-bottom: 20px;
	padding: 10px;
	font-size: 85%;
	line-height: 100%;
	text-align: left;
}


/* main area */

#MainArea{
	float: left;
	width: 540px;
	text-align: left;
}
#MainAreaWide{
	width: 720px;
	text-align: left;
}


/* sub area*/

#SubArea{
	float: left;
	width: 17px;
	width: 170px;
	margin-left: 10px;
	text-align: left;
}


/* sub navigation */

#SubNavigation{
	width: 160px;
	padding-left: 9px;
	border-left: 1px solid #CCCCCC;
	font-size: 95%;
	line-height: 120%;
}
#SubNavigation li{
	padding-top: 1.2em;
	padding-bottom: 1em;
	border-bottom: 1px dashed #CCCCCC;
}
#SubNavigation li.arrowM{
	padding-left: 19px;
	background: url(../img/arrow_m.gif) no-repeat left 0.9em;
}
#SubNavigation li.arrowS{
	padding-left: 19px;
	background: url(../img/arrow_s.gif) no-repeat 9px 1.2em;
}
#SubNavigation a:link{
	color: #000000;
	text-decoration: none;
}
#SubNavigation a:visited{
	color: #000000;
	text-decoration: none;
}

#SubNavigation a:hover{
	color: #0068b7;
	text-decoration: underline;
}

#SubNavigation a:active{
	color: #005da3;
	text-decoration: none;
}

/* 縺ゅ＆縺後￥繝翫ン逕ｨ */
.asagakuArrw{
  	padding-top: 1.2em;
    padding-left:  19px;;
    background: url(../img/arrow_m.gif) no-repeat left 0.9em;
 }
.asagaku{
    font-size: 9px;
    padding-top: 0pt;
    padding-bottom:  1em;
    padding-left: 15px;
}

/* banner */

#Banner{
	width: 170px;
	margin-top: 10px;
}
#Banner li{
	margin-bottom: 10px;
	line-height: 0;
}
#Banner li.end{
	margin-bottom: 0px;
}


/* pagetop */

#Pagetop{
	clear: both;
	width: 760px;
}
#Pagetop p{
	float: right;
	height: 12px;
	width: 122px;
	margin-top: 15px;
	margin-bottom: 15px;
}
#Pagetop a{
	height: 12px;
	width: 122px;
	display: block;
	background: url(../img/btn_pagetop_o.gif) no-repeat left top;
}
#Pagetop a:hover{
	text-indent: -9999px;
}


/* footer */

#Footer{
	clear: both;
	width: 760px;
	margin-bottom: 20px;
	font-size: 85%;
	line-height: 140%;
	background: #FFFFFF;
}
#Footer #FrmTop{
	height: 10px;
	width: 760px;
	display: block;
	background: url(../img/frm_f_top.gif) no-repeat left top;
}
#Footer #FrmBottom{
	height: 10px;
	width: 760px;
	display: block;
	background: url(../img/frm_f_bottom.gif) no-repeat left bottom;
}
/* ▽k-marutani Add::2021.03.24  K-marutani-確認完了-*/
#FooterArcSquare{
	display: flex;/*要素を横並び*/
	flex-wrap: wrap;/*折り返す*/
	clear: both;
	width: 760px;
	margin-bottom: 20px;
	font-size: 85%;
	line-height: 140%;
	background: #FFFFFF;
	border-radius:7px;/*角丸*/
	padding-top: 10px;/*#Footer #FrmTopの代わり*/
	padding-bottom: 10px;/*#Footer #FrmBottomの代わり*/
}
#FooterArcSquare dl{
    height: 30px;
	padding-right: 10px;
	padding-left: 10px;
}
#FooterArcSquare dt{
	float: left;
	width: 40px;
	padding-top: 4px;
}
#FooterArcSquare dd{
	float: left;
	width: 690px;
	margin-left: 10px;
}
/* △k-marutani Add::2021.03.24  K-marutani-確認完了-*/
#Footer dl{
    height: 30px;
	padding-right: 10px;
	padding-left: 10px;
}
#Footer dt{
	float: left;
	width: 40px;
	padding-top: 4px;
}
#Footer dd{
	float: left;
	width: 690px;
	margin-left: 10px;
}

/* T.Imanishi Add::2020.11.11 */
/* Footer-Box */
#WordBoxFooter {
	clear: both;
	width: 760px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 85%;
	border-radius: 15px 10px 10px 15px;
	background: #FFFFFF;
}
#WordBoxFooter dl{
	padding-right: 10px;
	padding-left: 10px;
}
#WordBoxFooter dt{
	float: left;
	width: 40px;
	padding-top: 10px;
}
#WordBoxFooter dd{
	float: left;
	width: 690px;
	margin-left: 10px;
}


/* T.Imanishi test::2018.11.12 ---> */
/* Video */
#SampleVideo{
	width: 540px;
	height: 300px;
}

/* Table::Explain */
.table_explain {
    width: 540px;
    border-collapse: collapse;
    border: 0px;
}
.th_explain{
    width: 240px;
    height: 24px;
    padding: 10px;
    font-size: 11pt;
    font-weight: bold;
    color: #358cc7;
    vertical-align: middle;
}
.tr_explain{
    height: 100px;
}
.tr_exppict{
    width: 300px;
    vertical-align: top;
}
.td_explain{
    width: 230px;
    padding: 10px;
    vertical-align: top;
}
/* Table::Spec-Table */
.table_spec{
    width: 540px;
    border-collapse: collapse;
    border: 2px solid #c0c0c0;
    line-height: 1.5;
}
.th_spec{
    width: 180px;
    height: 11pt;
    font-size-adjust: auto;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    background-color: #f0f0f0;
    border-left: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
}
.td_spec{
    width: 360px;
    height: 10.5pt;
    font-size-adjust: auto;
    padding: 5px;
    border-bottom: 1px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
}
.td_spec_Separator80{
    width: 80px;
    height: 10.5pt;
    font-size-adjust: auto;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
}
.td_spec_last{
    width: 360px;
    height: 10.5pt;
    font-size-adjust: auto;
    padding: 5px;
    border-bottom: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
}
/* <-- T.Imanishi test::2018.11.12 */

/* 画面追従するボタン　現状右下設定*/
#top_btn
{
  position: fixed;
  bottom: 10px;
  right: 10px;
  
  border-radius: 6px;
  background-color: rgba(255, 100, 0, 0.8);
  padding: 6px 3px;
}