/*--------------------------------------------------------------------------------*/
/*
 *	Slide.css
 *		:: 主にスライド表示に使用する。
*/
/*--------------------------------------------------------------------------------*/
@charset "UTF-8";

#slide  {
	position: relative;
}
#slide img {
	position: absolute;
	top: 0;
	left: 0;
}
