@charset "Shift_JIS";

/* contact */

#Contact table{
	width: 720px;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-collapse: collapse;
}

#Contact th,
#Contact td{
	padding: 0.5em;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	font-weight: normal;
	vertical-align: top;
	text-align: left;
}

#Contact th{
	width: 10em;
	background: #f1f1f1;
}

.button{
	height: 2em;
	width: 12em;
}
